@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Indie+Flower&display=swap');

body{
    font-family: 'Comfortaa', sans-serif;
    overflow: hidden;
    background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
}

.container{
    
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    background: rgba(0,0,0,0.1)
}

.digitalClock h1{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media(max-width: 768px){
    #bar1, #bar2{
        display: none;
    }
    .digitalClock{
        text-align: center;
        width:100%;
     }
     .digitalClock h1{
        display: block;
     }
}
@media(max-width: 480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}